<div class="banner">
    <div class="container h-100">
        <div class="row h-100 d-flex align-items-center">
            <div class="col-xl-10 col-12 banner-info align-items-center">
                <h2 class="fw-bold">
                    Ми - це доcтавка <span class="color-blue">щастя. Monosushi</span> - Ми любимо
                    коли тобі смачно.
                </h2>
                <p>
                    Найсмачніші сушики вже чекають на тебе. Не барись, а обирай свої улюблені позиції і вже скоро вони
                    будуть у тебе!
                </p>
            </div>
        </div>
    </div>
</div>