<button class="btn" (click)="addCategory()">ДОДАТИ КАТЕГОРІЮ</button>
<ng-container *ngIf="isFormHidden">
    <table class="table categories-table">
        <thead>
            <tr>
                <th>No</th>
                <th>Назва</th>
                <th>Шлях</th>
                <th>Картинка</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of adminCategories; index as i">
                <td>{{ i+1 }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.path }}</td>
                <td>
                    <img [src]="category.imagePath" class="category-img" alt="">
                </td>
                <td>
                    <div class="d-flex flex-column">
                        <button (click)="editCategory(category)">Редагувати</button>
                        <button (click)="deleteCategory(category.id)">Видалити</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>
<ng-container *ngIf="!isFormHidden">
    <form class="d-flex flex-column" [formGroup]="categoriesForm" (ngSubmit)="saveCategory()">
        <div class="d-flex justify-content-between">
            <input type="text" formControlName="name" class="input" placeholder="*Назва">
            <input type="text" formControlName="path" class="input" placeholder="*Шлях">
        </div>
        <ng-container *ngIf="!isUploaded">
            <input type="file" class="form-control form-control-lg file-input" (change)="upload($event)">
            <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" [style.width.%]="uploadPercent" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
        </ng-container>
        <ng-container *ngIf="isUploaded">
            <img [src]="valueByControl('imagePath')" class="upload-image" alt="">
            <button type="button" class="btn-delete" (click)="deleteImage()">ВИДАЛИТИ</button>
        </ng-container>
        <button type="submit" class="btn" [disabled]="categoriesForm.invalid">ЗБЕРЕГТИ</button>
    </form>
</ng-container>